/* ==========================================================================
   Lilac skin (light purple)
   ========================================================================== */

/* Colors */
$background-color: #f7f3ff !default;
$text-color: #2f2640 !default;
$muted-text-color: #5f5175 !default;
$primary-color: #9c7bd8 !default;
$border-color: mix(#fff, $muted-text-color, 75%) !default;
$code-background-color: mix(#fff, $primary-color, 85%) !default;
$code-background-color-dark: mix(#000, $code-background-color, 12%) !default;
$form-background-color: mix(#fff, $primary-color, 85%) !default;
$footer-background-color: mix(#fff, $primary-color, 35%) !default;
$link-color: $primary-color !default;
$link-color-hover: mix(#000, $link-color, 20%) !default;
$link-color-visited: mix(#000, $link-color, 30%) !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 15%) !default;
$navicon-link-color-hover: mix(#fff, $text-color, 75%) !default;

/* notices */
$notice-background-mix: 80% !default;
$code-notice-background-mix: 88% !default;

.page__footer {
  color: $text-color !important; // ensure readability on light footer background
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
